.lib-cards ul li{
    list-style: none;
    background-color: #202020;
    width: 100%;
    height: 43px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    box-sizing: border-box;
    cursor: pointer;
    padding: 27px 10px;
    padding-left: 12px;
    justify-content: space-between;
    align-items: center;
}
.lib-cards{
    height: 644px;
    overflow-y: auto;
}
.bold{
    font-weight: bold;
    font-size: 17px;
}
.normal{
    font-size: 12px;
}
.home-icon{
        gap: 10px;
    align-items: center;
    display: flex;
}
.search-icon{
        gap: 10px;
    align-items: center;
    display: flex;
}
.lib-cards img{
    width: 34px;
}
