.play{
    height: 70px;
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.song{
    display: flex;
    align-items: center;
}
.song img{
    
    width: 50px;
    height: 50px;
}
.marginone{
    padding-left: 15px;
    padding-top: 0px;
}
.margintwo{
    padding-left: 10px;
    padding-top: 0px;
}
.text-grey{
    color: rgb(114, 114, 114);
}
.song-artist{
    font-size: 14px;
}
.play{
    display: flex;
    align-items: center;
}
.createbutton{
    padding-left: 20px;
    cursor: pointer;
}
.createbutton img{
    padding-top: 14px;
    height: 70px;
}
.slide-bar{
    padding-left: 16px;
    padding-right: 16px;
    width: 450px;
    height: 100%
}
.controls{
    width: 300px;
    padding-left: 25px;
    height: 100%
}
.play-controls-slidebar{
    width: 24px;
}
.arrow-slidebar{
   width: 18px;
}
.contols-slide-bar{
    /* background-color: green; */
    padding-top: 8px;
    width: 86px;
    height: 29px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}

.contols-slide-bar img{
    cursor: pointer;
}
.slide-bar {
    display: flex; 
    /* justify-content: center; */
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.seekbar{
    height: 4px;
    width: 309px;
    /* border: 2px solid red; */
    background-color: #333333;
    cursor: pointer;
}
.circle{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    position: relative;
   bottom: 3px;
   transition: left 0.5s;
   left: 0%;
}
.seek-bar-square {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:9px;
}
